doxygen_documentation
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
source/CMakeFiles
source/Makefile
source/cath_tools_git_version/
source/cmake_install.cmake
source/libct_biocore.a
source/libct_cath_score_align.a
source/libct_chopping.a
source/libct_common.a
source/libct_display_colour.a
source/libct_options.a
source/libct_uni.a
.ninja_deps
.ninja_log
build-test
build.ninja
cath-assign-domains
cath-cluster
cath-map-clusters
cath-refine-align
cath-resolve-hits
cath-score-align
cath-ssap
cath-superpose
rules.ninja
source/libct_cath_assign_domains.a
source/libct_cath_cluster.a
source/libct_cath_refine_align.a
source/libct_cath_superpose.a
source/libct_clustagglom.a
source/libct_cluster.a
source/libct_resolve_hits.a
source/libct_seq.a
source/libct_test.a
*.o
