div.wy-nav-content {
	padding-top: 0;
}

div[aria-label="breadcrumbs navigation"][role="navigation"] {
	height: 60px;
}

img[alt="Screenshot"], img[alt="Screenshot-half"] {
	border-color  : black;
	border-style  : solid;
	border-width  : 1px;
	margin-bottom : 5px;
	padding       : 5px;
	width         : 60%;
}

img[alt="Screenshot-half"] {
	width         : 45%;
	padding       : 2px;
}

.figure-caption {
	color: grey;
	font-size: 80%;
}

div.section hr, div.section p, div.section ul {
	margin        : 14px 0 !important;
}

code {
	background    : rgba(0, 0, 0, 0.01);
	font-size     : 85%;
}

a         code {
	color         : #2980B9; /* Colour copied from the readthedocs style for normal links  */
}

a:visited code {
	color         : #9B59B6; /* Colour copied from the readthedocs style for normal links */
}

h3 {
	color         : #404040; /* Colour copied from the readthedocs style for h1 and h2  */
	font-weight   : bold;
}